{
  "extends": "airbnb-base",
  "env": {
    "node": true,
    "mocha": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": ["@typescript-eslint"],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts"]
      }
    }
  },
  "rules": {
    "max-len": ["warn", 120],
    "arrow-parens": ["error", "as-needed"],
    "no-use-before-define": "off",
    "no-underscore-dangle": "off",
    "camelcase": "off",
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["**/*.test.ts"]}],
    "lines-between-class-members": "off",

    "no-trailing-spaces": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["error", {"vars": "all", "args": "after-used", "ignoreRestSiblings": true}],
    "one-var-declaration-per-line": "off",
    "one-var": "off"
  }
}
